.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 80vh;          
    text-align: center;
}

.stopwatch-time {
    text-align: center;
    color: #000;
    font-size: 60px;    
}

.stopwatch-buttons {
    display: flex;
    justify-content: center;
}

.stopwatch-buttons button {
    margin: 20px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
}
